.Gallary {
  height: 100vh;
  /* background-image: url(https://previews.123rf.com/images/nuttakit/nuttakit1008/nuttakit100800092/7594246-gold-and-red-damask-style-wallpaper-pattern-background.jpg); */
  
  background-color: rgb(143, 0, 0);

  overflow-y: hidden;

  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Gallary img {
  z-index: 0;
  box-sizing: border-box;
  padding: 20px;

  width: 50%;
  height: 50vh;
}

@media only screen and (max-width: 1200px) {
  .Gallary {
    height: auto;
    
    overflow-y: auto;
    overflow-x: hidden;

    flex-direction: column;
    justify-content: center;
  }

  .Gallary img {
    width: 50%;
  }
}
