.Nav {
  font-family: "Oleo Script", cursive;
  text-align: center;

  background-color: rgb(131, 0, 0);
  /* z-index: -1; */
  /* background-image: url(https://previews.123rf.com/images/nuttakit/nuttakit1008/nuttakit100800092/7594246-gold-and-red-damask-style-wallpaper-pattern-background.jpg); */
  color: #fff;
}

.Nav .title {
  z-index: 1;
  font-size: 5rem;
}

.Nav .subtitle {
  z-index: 1;
  font-size: 2.5rem;
}
